body{
    font-family: 'Quicksand', sans-serif;
}

header{
    margin-top: 1em;
}
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}


.barra-logo{
    width: 1350px;
    height: 130px;
    margin: 1em auto;
    padding: 0;
}

.bloque{
    width: 30%;
    height: 90px;
    display: inline-block;
    vertical-align: top;
    margin: auto 1.5%;
}

#rhino{
    width: 300px;
    border-radius: 10px;
    margin: 1% 5%;
    display: inline-block;
}
#barra-bus{
    width: 200px;
    height: 40px;
    margin: -50% 0%;
    background-image: url('Recursos/lupa.png');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    background-color: rgb(234, 237, 239);
    border: 1px solid rgb(234, 237, 239);
    padding-left: 28px;
    border-radius: 3px;
    vertical-align: middle ;
    display: inline-block;
}
#usu{
    position: absolute;
    margin: -1.7em 20%;
}
#comp{
    position: absolute;
    margin: -1.7em 70%;
}
.ico{
    display: inline-block;
    height: 40px;
    margin: -15% 5%;
    width: 30%;
    vertical-align: top ;
    position: relative;
}
.ico img{
    display: inline-block;
    width: 25px;

}

.user-2{
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    vertical-align: middle;
}



.user-2 hr{
    height:20px;
    max-width: 5px;
    width:1px;
    border-width:0;
    color:#000;
    background-color:#000;
    margin: 0em;
}     

#logoRhino{
    border-radius: 5px;
    margin-left: 20%;
}

#nave{
    margin: 0 1em;
}
.Enc li{
    list-style-type: none;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: #f6f7fa;
    padding: 1em;
    border-radius: 10px;
}
ul{
    gap: 0.5em;
}
.container div{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
ul{
    justify-content:center;
    align-items: center;
    text-align: center;
}

.enlacescab{
    width: 24%;
    text-decoration: none;
    color: #000;
}

.Enc li:hover{
    cursor: pointer;
    background-color: rgb(37, 36, 36);
    transform: scale(1.1);
    transition: 150ms;
    color: #ffff;
}

.titulos h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3em;
}
.titulos h4{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(225, 233, 74);
    padding: 0.8em;
}
.titulos p{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.titulos h4{
    font-size: 18px;
}

.d-block{
    border-radius: 10px;
}

.col img:hover{
    transform: 1.5;
    transition: 1s;
}

.ContenidoIn{
    justify-content: center;
    align-items: center;
    text-align: center;

}
.ContenidoIn img{
    width: 50px;
    margin-bottom: 1em;
}
.ContenidoIn h3{
    font-size: 25px;
}
.ContenidoIn span{
    font-size: 15px;
}
#tituloapartado{
    width: 400px;
    margin: 1em 37%;
    font-weight: bold;
    text-align: center;
}
#cantidadArticulos{
    margin: 3em 1em;
}

#chec{
    margin: 0 0;
}

.precioArticulo{
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

#productoTar:hover{
    transform: scale(1.1);
    transition: 100ms;
    cursor: pointer;
}

#precio1{
    width: 100;
    height: 50px;
    border-radius: 5px;
    background: #88888888;
    border: #88888888;
    color: #FFF;
    margin: 5px 0;
}
#precio2{
    width: 100;
    height: 50px;
    border-radius: 5px;
    background: #88888888;
    border: #88888888;
    color: #FFF;
    margin: 5px 0;
}

.contenedorAmasadoras{
    display: grid;
    grid-template-columns: repeat(3, 300px 950px 200px);
}
.articuloInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#productoTar{
    width: 140px;
    height: 150px;
    margin: 2em 2em;
}
#botonTar:hover{
    transform: scale(1.1);
    transition: 100ms;
    cursor: pointer;
}
#canasta{
    width: 20px;
}
.tarjeta{
    text-align: center;
    margin: 0 1em;
}
.tarjeta button{
    width: 80%;
    height: 80px;
    border-radius: 10px;
    background: #ece511;
    border: solid 1px #ece511;
    font-size: 17px;
    font-weight: bolder;
}
#textotar{
    margin:1px 0;
}
#precios1{
    margin-top: 10px;
    text-decoration: line-through;
}
#precios2{
    margin-top: -20px;
    font-weight: bolder;
    font-size: 18px;
}


/* FOOTER ESTILOS */
hr{
    border: solid 1.5px black;
}
.ConsultaInf li{
    list-style-type: none;
    line-height: 1.8;
    
}
.ConsultaInf ul{
    justify-content: left;
    text-align: left;
    align-items: left;
    padding: 0;
    gap: 1em;
}
.filaOP span{
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: bolder;
}
.filaOP a{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(90deg, black, rgb(0, 0, 0), rgb(9, 9, 9));
    background-position: left bottom;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 300ms ease-in-out;
}
.filaOP a:hover{
    text-decoration: underline;
    cursor: pointer;
    background-size: 100% 2px;

}
.filaOP{
    gap: 2em;
    max-width: 100%;
}

#suscribete{
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

/* FOOTER ESTILOS */

#miDiv {
    display: none;
}

@media screen and (max-width: 1235px) {
    #miDiv {
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .barra-logo{
        margin: 2em 8%;
        width: 200px;
    }
    #rhino{
        width: 200px;
    }
    #tituloapartado{
        width: 200px;
        margin-right: 10em;
    }
    .menu-ple ul{
        list-style: none;
    }
    .menu-ple a{
        text-decoration: none;
    }
    .menu-ple li{
        background: #f8e703;
        color: #000000;
        width: 100%;
        height: 50px;
        margin: 1em -5%;
        text-align: center;
        font-size: 25px;
    }
    .btn{
        position: fixed;
    }
    #tituloapartado{
        margin: 0 25%;
        text-align: center;
    }
    .articuloInfo{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .tarjeta{
        width: 150px;
        margin: 0 1em;
    }
    #productoTar{
        margin: 0 auto;
    }
    main{
        overflow-x: hidden;
    }

}
.ocultar{
    display: block;
}
@media screen and (max-width: 1235px) {
    .ocultar {
        display: None;
    }
}
